

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>Data Tables</title>
    <style>
        #loader {
            transition: all .3s ease-in-out;
            opacity: 1;
            visibility: visible;
            position: fixed;
            height: 100vh;
            width: 100%;
            background: #fff;
            z-index: 90000
        }
        
        #loader.fadeOut {
            opacity: 0;
            visibility: hidden
        }
		.chartLabel{
			 text-align: center;
		}
		.chartStyle{
		    padding-top: 2%;
			padding-left: 30%;
		}
		.piChartStyle{
			display: block;
			width: 150px !important;
			height: 150px !important;
		}
        .chatComp{
			height:46%;
		}
        .spinner {
            width: 40px;
            height: 40px;
            position: absolute;
            top: calc(50% - 20px);
            left: calc(50% - 20px);
            background-color: #333;
            border-radius: 100%;
            -webkit-animation: sk-scaleout 1s infinite ease-in-out;
            animation: sk-scaleout 1s infinite ease-in-out
        }
        
        @-webkit-keyframes sk-scaleout {
            0% {
                -webkit-transform: scale(0)
            }
            100% {
                -webkit-transform: scale(1);
                opacity: 0
            }
        }
        
        @keyframes sk-scaleout {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0)
            }
            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 0
            }
        }
		/*word cloud*/
		.bucket1 {
		  color: red;
		}
		 
		.bucket2 {
		  color: blue;
		}
		 
		.bucket3 {
		  color: yellow;
		}
    </style>
	<script>
		var ctx = document.getElementById("myChart").getContext('2d');
		data = {
			 datasets: [{
				data: [45, 25, 20, 10],
				backgroundColor: [
					'#ff6384',
					'#36a2eb',
					'#cc65fe',
					'#ffce56',
				]
			}],
			labels: ['Age 0-15', 'Age 15-40', 'Age 40-60', 'Age 60+'],
			
		};
		var myDoughnutChart = new Chart(ctx, {
			type: 'doughnut',
			data: data,
			options: {
						legend: {
							display: false
						},
						
					}
			
		});
		
		
		
</script>
    <link href="style/style.css" rel="stylesheet">
	<link rel="stylesheet" href="../node_modules/angular-tag-cloud/src/css/ng-tag-cloud.css">
</head>


<body class="app">
  <!--  <div id="loader">
        <div class="spinner"></div>
    </div>
    <script>
        window.addEventListener('load', () => {
            const loader = document.getElementById('loader');
            setTimeout(() => {
                loader.classList.add('fadeOut');
            }, 300);
        });

    </script>-->
    <div>
        
           
            <main class="main-content bgc-grey-100">
                <div id="mainContent">
                    <div class="container-fluid">
						<!--<div class="mT-30">
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#emailModal">Launch demo modal</button>
                              
                         </div> -->
                         <div class="row">
							<div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
								<div class="bd bgc-white">
									<div class="layers">
										<div class="layer w-100">
											<div class="bgc-light-blue-500 c-white p-20">
												<div class="peers ai-c jc-sb gap-40">
													<div class="peer peer-greed">
														<h5>Typhoid Outbreaks</h5>
														
													</div>
													<div class="peer">
														<h3 class="text-right">320 Cases</h3></div>
												</div>
											</div>
											<div class="table-responsive p-20">
												<table class="table">
													<thead>
														<tr>
															<th class="bdwT-0">Name</th>
															<th class="bdwT-0">Occupation</th>
															<th class="bdwT-0">Village/Town</th>
															<th class="bdwT-0">Age</th>
															<th class="bdwT-0">Date Reported</th>
															<th class="bdwT-0">Key Symptoms</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td class="fw-600">Ram</td>
															<td><span class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill">Labour</span></td>
															<td>Chambal</td>
															<td>38</td>
															<td>Nov 18</td>
															<td><span class="text-success">weakness, pain</span></td>
														</tr>
														<tr>
															<td class="fw-600">Sham</td>
															<td><span class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill">Software Engineer</span></td>
															<td>Panjim</td>
															<td>38</td>
															<td>Nov 19</td>
															<td><span class="text-success">Dozy, pain</span></td>
														</tr>
														<tr>
															<td class="fw-600">Ram</td>
															<td><span class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill">Labour</span></td>
															<td>Chambal</td>
															<td>38</td>
															<td>Nov 18</td>
															<td><span class="text-success">weakness, pain</span></td>
														</tr>
														<tr>
															<td class="fw-600">Sham</td>
															<td><span class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill">Software Engineer</span></td>
															<td>Panjim</td>
															<td>38</td>
															<td>Nov 19</td>
															<td><span class="text-success">Dozy, pain</span></td>
														</tr>
														<tr>
															<td class="fw-600">Ram</td>
															<td><span class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill">Labour</span></td>
															<td>Chambal</td>
															<td>38</td>
															<td>Nov 18</td>
															<td><span class="text-success">weakness, pain</span></td>
														</tr>
														<tr>
															<td class="fw-600">Sham</td>
															<td><span class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill">Software Engineer</span></td>
															<td>Panjim</td>
															<td>38</td>
															<td>Nov 19</td>
															<td><span class="text-success">Dozy, pain</span></td>
														</tr>
														<tr>
															<td class="fw-600">Ram</td>
															<td><span class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill">Labour</span></td>
															<td>Chambal</td>
															<td>38</td>
															<td>Nov 18</td>
															<td><span class="text-success">weakness, pain</span></td>
														</tr>
														<tr>
															<td class="fw-600">Sham</td>
															<td><span class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill">Software Engineer</span></td>
															<td>Panjim</td>
															<td>38</td>
															<td>Nov 19</td>
															<td><span class="text-success">Dozy, pain</span></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div class="ta-c bdT w-100 p-20"><a href="#">Check all the sales</a></div>
								</div>
							</div>
							<div class="peer bdL p-20 w-30p@lg+ w-100p@lg-">
								<div class="row chatComp" >
										<div >
											    <div class="box box-danger">
													<div class="box-header with-border">
														<h3 class="box-title">Talk to early Responders</h3>

														<div class="box-tools pull-right">
															<!-- <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
											</button>
											<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
											</button>-->
														</div>
													</div>
													<!-- /.box-header -->
													<div class="box-body no-padding">
														<ul class="users-list clearfix">
															<li>
																<img src="/public/images/user1-128x128.jpg" alt="User Image">
																<a class="users-list-name" class="btn btn-primary" data-toggle="modal" data-target="#emailModal" href="#">Alexander Pierce</a>
																<span class="users-list-date">Today</span>
															</li>
															<li>
																<img src="/public/images/user8-128x128.jpg" alt="User Image">
																<a class="users-list-name" class="btn btn-primary" data-toggle="modal" data-target="#emailModal" href="#">Norman</a>
																<span class="users-list-date">Yesterday</span>
															</li>
															<li>
																<img src="/public/images/user7-128x128.jpg" alt="User Image">
																<a class="users-list-name" class="btn btn-primary" data-toggle="modal" data-target="#emailModal" href="#">Jane</a>
																<span class="users-list-date">12 Jan</span>
															</li>
															<li>
																<img src="/public/images/user6-128x128.jpg" alt="User Image">
																<a class="users-list-name"  class="btn btn-primary" data-toggle="modal" data-target="#emailModal"href="#">John</a>
																<span class="users-list-date">12 Jan</span>
															</li>
															<li>
																<img src="/public/images/user2-160x160.jpg" alt="User Image">
																<a class="users-list-name" class="btn btn-primary" data-toggle="modal" data-target="#emailModal" href="#">Alexander</a>
																<span class="users-list-date">13 Jan</span>
															</li>
															<li>
																<img src="/public/images/user5-128x128.jpg" alt="User Image">
																<a class="users-list-name" class="btn btn-primary" data-toggle="modal" data-target="#emailModal" href="#">Sarah</a>
																<span class="users-list-date">14 Jan</span>
															</li>
															<li>
																<img src="/public/images/user4-128x128.jpg" alt="User Image">
																<a class="users-list-name" class="btn btn-primary" data-toggle="modal" data-target="#emailModal" href="#">Nora</a>
																<span class="users-list-date">15 Jan</span>
															</li>
															<li>
																<img src="/public/images/user3-128x128.jpg" alt="User Image">
																<a class="users-list-name" class="btn btn-primary" data-toggle="modal" data-target="#emailModal" href="#">Nadia</a>
																<span class="users-list-date">15 Jan</span>
															</li>
														</ul>
														<!-- /.users-list -->
													</div>
													<!-- /.box-body -->
													<div class="box-footer text-center">
														<a href="javascript:void(0)" class="uppercase">View All Users</a>
													</div>
													<!-- /.box-footer -->
												</div>
											</div>
									</div>
								<div class="row">
									<div class="chartStyle">
										<div class="chartLabel">
											<h5>Age Breakup</h5>
										</div>
										<canvas id="myChart" width="400" height="400" class = "piChartStyle"></canvas>
									</div>
								</div>
								<div class="row">
									<div class="">
										<ng-tag-cloud cloud-width="400" cloud-height="250" cloud-data="tagData"></ng-tag-cloud>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </div>
				<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				 <div class="modal-dialog" role="document">
					<div class="modal-content">
					   <div class="modal-header">
						  <h4 class="c-grey-900 mB-20">Send Message</h4>
						  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					   </div>
					   <div class="modal-body">
							<div class="email-compose">
							 <div class="d-n@md+ p-20"><a class="email-side-toggle c-grey-900 cH-blue-500 td-n" href="javascript:void(0)"><i class="ti-menu"></i></a></div>
							 <form class="email-compose-body">
								<div class="send-header">
								   <div class="form-group"><input type="text" class="form-control" placeholder="To"></div>
								   <div class="form-group"><input type="text" class="form-control" placeholder="CC"></div>
								   <div class="form-group"><input class="form-control" placeholder="Email Subject"></div>
								   <div class="form-group"><textarea name="compose" class="form-control" placeholder="Say Hi..." rows="10"></textarea></div>
								</div>
								<div id="compose-area"></div>
								<div class="text-right mrg-top-30"><button class="btn btn-danger" data-dismiss="modal">Send</button></div>
							 </form>
						  </div>
					   </div>
					</div>
				 </div>
			  </div>
            </main>
        </div>
     <script type="text/javascript" src="vendor.js"></script>
    <script type="text/javascript" src="bundle.js"></script>
</body>


